flask # used for rest api
torch # used for neural network model
numpy # used for data manipulation
pandas # used for data manipulation
scikit-learn # used for data manipulation & training
matplotlib # used for data visualization
seaborn # used for data visualization
urllib.parse # used for url parsing
beautifulsoup4 # used for html parsing
tldextract # used for url parsing
